*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans',sans-serif
    ;
}
header{
    margin-top: 8px;
    height: 100px;
    /* background: rgb(243, 239, 239); */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
ul li a{
    padding: 0 50px;
    text-decoration: none;
    color: #3a3a3a;
    display: inline-block;
}
li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: darkorange;
    border-radius: 4px;
    transition: all.5s;

}
li a:hover::after{
    width: 100%;
}
main{
    display: flex;
    /* border: 1px solid rgb(138, 131, 131); */
    height: calc(100vh-100px);
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    padding-left: 100px;
}
.logo{
    display: flex;
}
.image{
    width: 30%;
}
main h1{
    font-size: 50px;
    color: rgb(15, 16, 17);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
    

}
main h2{
    color: darkorange;
    font-weight:400;
    text-transform: uppercase;
}
main p{
    font-size:14px;
    font-weight: 400;
    line-height: 31.5px;
    margin: 30px 0;
    color: rgb(14, 13, 13);
}

.cta{
    padding: 15px 30px;
    background: darkorange;
    color: rgb(17, 15, 15);
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    
}
.signUp{
    padding: 10px 20px;
    background: darkorange;
    color: rgb(17, 15, 15);
    outline: none;
    border: none;
    font-weight: 700;
    /* text-transform: uppercase; */
    border-radius: 50px;

}
 footer{
     height: 50px;
     background-color: #3a3a3a;
     text-align: center;
     font-size: 10px;
     fot
 }